/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.opacity_1 {
  opacity: 1 !important;
}

*, *:after, *:before {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.main, .footer {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: #7c7a7a;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.container {
  width: 970px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navigation {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.navigation-content {
  align-items: center;
}
.navigation-content ul {
  display: flex;
  position: relative;
  margin: 0;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  height: 100px;
  line-height: 100px;
  list-style: none;
}
.navigation-content ul a {
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #232323;
  font-size: 1.4rem;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  padding: 12px 8px;
}
.navigation-content ul a:hover {
  color: #a7a7a7;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.navigation-content ul a img {
  max-width: 200px;
  height: auto;
}

.footer {
  min-height: 700px;
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("/images/white_wall_hash.png");
  background-repeat: repeat;
  z-index: 1;
}
.footer:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.03);
}
.footer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 450px;
  background-color: lightsteelblue;
  z-index: -1;
}

.footer-content {
  flex-direction: row;
  align-items: center;
}

.footer-location-text {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 4 0 0;
}
.footer-location-text > span {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2;
}

.footer-location-map {
  position: relative;
  display: flex;
  flex: 6 0 0;
  -webkit-box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.2);
}

.location-circle {
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f2f0;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}
.location-circle > h2 {
  font-size: 2rem;
  margin-bottom: 0;
  line-height: 2;
}
.location-circle > h2 > small {
  line-height: 0;
  font-weight: 300;
  font-size: 0.9rem;
  display: block;
}
.location-circle > span {
  margin-bottom: 15px;
  line-height: 1.5;
}
.location-circle > small {
  margin-top: 5px;
}
.location-circle .contact-mail {
  margin-top: 15px;
}
.location-circle a {
  text-decoration: none;
  color: #7c7a7a;
  transition: all 0.3s ease;
}
.location-circle a:hover {
  color: #232323;
  transition: all 0.3s ease;
  text-decoration: none;
}

.footer-contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin-top: 20px;
}

.social {
  display: inline-block;
  text-align: center;
  width: 40px;
  margin: 0 10px;
  height: 40px;
  border-radius: 50%;
  color: white;
  line-height: 40px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.social-facebook {
  background-color: #3b5998;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.social-facebook:hover {
  background-color: rgba(59, 89, 152, 0.7);
}

.social-tripadvisor {
  background-color: #00af87;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.social-tripadvisor:hover {
  background-color: rgba(0, 175, 135, 0.7);
}

.social-youtube {
  background-color: #cc181e;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.social-youtube:hover {
  background-color: rgba(204, 24, 30, 0.7);
}

.social-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.social-instagram:hover {
  color: #232323;
}

.copyright {
  position: absolute;
  left: 25px;
  bottom: 10px;
  color: rgba(125, 125, 125, 0.7);
}

.authored {
  position: absolute;
  right: 25px;
  bottom: 10px;
}
.authored a {
  color: rgba(125, 125, 125, 0.7);
  text-decoration: none;
}
.authored a:hover {
  color: #232323;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.intro {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-image: url("/images/IMG_4604.JPG");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.intro > h1 {
  position: relative;
  z-index: 100;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}
.intro > small {
  position: relative;
  z-index: 100;
  font-weight: 600;
  color: white;
  text-align: center;
}
.intro:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.arrow {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 50px;
}
.arrow a {
  color: #fff;
  text-decoration: none;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
#nav-icon {
  position: absolute;
  right: 25px;
  top: 25px;
  display: none;
  align-self: flex-end;
  z-index: 101;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #232323;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 15px;
}

#nav-icon span:nth-child(4) {
  top: 30px;
}

#nav-icon.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

.navigation-list.open {
  height: auto;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 100px;
  color: white;
  display: flex !important;
  flex-direction: column;
  line-height: 3;
  margin: 0;
  transition: all 0.4s ease-out;
  top: 0;
  transform: translateY(0);
  z-index: 100;
}
.navigation-list.open > li {
  height: auto;
}

@media screen and (max-width: 600px) {
  .intro {
    background-attachment: unset;
  }

  #nav-icon {
    display: block !important;
  }

  .navigation {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100px;
    line-height: 100px;
    width: 100%;
    display: flex;
    background-image: none !important;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .navigation-list {
    transform: translateY(-10rem);
  }

  .navigation-content {
    max-width: 100%;
    transition: all 0.4s ease-out;
  }

  .nav-image {
    order: -1;
  }

  .footer-location-text {
    flex: none;
    margin-bottom: 40px;
  }
  .footer-location-text > span {
    text-align: center;
    margin-bottom: 15px;
    display: block;
  }

  .footer-location-map {
    flex: none;
    margin-bottom: 70px;
  }

  .footer-content {
    flex-direction: column;
  }

  .copyright {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 30px;
    text-align: center;
  }

  .authored {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5px;
    text-align: center;
  }
}
@media screen and (max-width: 370px) {
  .location-circle {
    width: 280px;
    height: 280px;
    align-self: center;
  }
  .location-circle > h2 {
    font-size: 1.7rem;
  }
  .location-circle > span {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  .location-circle a {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=app.css.map */
