.about {
  padding: 25px 0 40px 0;
  -webkit-box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  background-image: url("/images/white_wall_hash.png");
  background-repeat: repeat;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-image {
  padding: 5px;
  min-width: 0;
  position: relative;
  display: flex;
  height: 300px;
  flex: 25 0 0;
  /* margin: 5px; */
  border: 1px solid #c7c7c7;
}

.about-image-content {
  background-position: 50% 50%;
  display: block;
  width: 100%;
}

.about-text {
  display: flex;
  flex: 65 0 0;
  padding: 0 15px 0 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-text > h2 {
  letter-spacing: -2px;
  width: 100%;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}
.about-text > h2:after {
  content: "";
  display: block;
  width: 100%;
  margin: 2px 0 10px 0;
  height: 1px;
  background-color: #c7c7c7;
}
.about-text > p {
  line-height: 1.3;
}

.menu-section {
  position: relative;
  z-index: 10;
  background-image: url("/images/white_wall_hash.png");
  background-repeat: repeat;
  padding: 0px 0 60px 0;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menu-content > span {
  color: #a4a4a4;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.3);
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2;
}

.menus {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu {
  display: block;
  margin-top: 15px;
  position: relative;
  min-height: 250px;
  padding: 20px 20px 70px 20px;
  width: 45%;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.menu span {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}
.menu p {
  line-height: 1.3;
}
.menu a {
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  border: 1px solid #232323;
  color: #232323;
  padding: 12px 8px;
  transition: all 0.3s ease;
}
.menu a:hover {
  border-color: #005a84;
  background-color: #005a84;
  color: white;
  transition: all 0.3s ease;
}

.menu-left {
  margin-right: 50%;
}

.menu-right {
  margin-left: 50%;
}

.events-section {
  background-image: url("/images/white_wall_hash.png");
  background-repeat: repeat;
  text-align: center;
}
.events-section > span {
  display: block;
  line-height: 2;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

.events-content {
  flex-direction: row;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 500px;
  flex: 1 0 0;
  margin: 0 10px;
  transition: all 0.3s ease;
  padding: 15px;
}
.event:hover {
  transition: all 0.3s ease;
  background-color: aliceblue;
}
.event span {
  font-size: 1.7rem;
  line-height: 2;
}
.event img {
  width: 100%;
  padding: 5px;
  border: 1px solid #c7c7c7;
}
.event > p {
  margin-bottom: 80px;
  line-height: 1.3;
  text-align: justify;
  padding: 0 20px;
}
.event > a {
  position: absolute;
  left: 0;
  z-index: 1;
  right: 0;
  bottom: 25px;
  margin: 0 auto;
  text-decoration: none;
  padding: 12px 8px;
  border: 1px solid #929292;
  color: #929292;
  width: 200px;
  text-align: center;
  transition: 0.3s all ease;
}
.event > a:hover {
  background-color: #005a84;
  border: 1px solid #005a84;
  color: white;
  transition: 0.3s all ease;
}

.organization {
  padding-top: 50px;
  background-image: url("/images/white_wall_hash.png");
  background-repeat: repeat;
}

.organization-content {
  position: relative;
  align-items: center;
  flex-direction: column;
}
.organization-content:before {
  display: block;
  position: absolute;
  content: "";
  top: -30px;
  width: 180px;
  height: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #777;
  box-shadow: 0 30px 0 #777;
}
.organization-content h2 {
  font-weight: normal;
  font-size: 2rem;
  text-transform: uppercase;
}

.organization-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.organization-type {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}
.organization-type > ul {
  padding-left: 0;
  list-style: none;
}
.organization-type li {
  display: flex;
  align-items: flex-start;
  padding: 5px 0;
  justify-content: flex-start;
}
.organization-type li:hover {
  background-color: rgba(170, 170, 170, 0.1);
  border-radius: 3px;
}
.organization-type li:hover i {
  color: lightgreen;
}
.organization-type li i {
  margin-left: 10px;
  line-height: 1.5;
}
.organization-type li span {
  line-height: 1.5;
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .about-content {
    flex-direction: column;
  }

  .about-image {
    flex: none;
    width: 100%;
  }

  .about-image-content {
    width: 100%;
  }

  .about-text {
    flex: none;
    text-align: justify;
    padding: 0 10px;
  }

  .menu-left {
    width: 100%;
    margin: 15px auto 0 auto;
  }

  .menu-right {
    width: 100%;
    margin: 15px auto 0 auto;
  }

  .events-content {
    flex-direction: column;
  }

  .menu a {
    text-align: center;
    left: 0;
    position: absolute;
    bottom: 25px;
    /* left: 25px; */
    display: inline-block;
    text-decoration: none;
    border: 1px solid #232323;
    color: #232323;
    padding: 12px 8px;
    transition: all 0.3s ease;
    right: 0;
    width: 200px;
    margin: 0 auto;
  }

  .event {
    flex: none;
  }
  .event > p {
    padding: 0;
  }

  .organization-content > h2 {
    text-align: center;
  }
  .organization-content .organization-types {
    flex-direction: column;
  }
  .organization-content .organization-type {
    flex: none;
  }
}

/*# sourceMappingURL=style.css.map */
