$OpenSans : 'Open Sans', sans-serif;

.main {
  background-image: url('/images/white_wall_hash.png');
  background-repeat:repeat;
}

.banquet {
  display: flex;
  justify-content: center;
}

.banquet-content,.halls-content {
  flex-direction: column;
  >h1,h2 {
    text-align: center;
  }
}

.banquet-info,.halls-info {
  display: flex;
  flex-direction: row;
}

.banquet-info-photo,.halls-info-photo {
  display: flex;
  flex-direction: column;
  flex:3 0 0;
  a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: auto;
    >img {
      max-width: 100%;
      height: auto;
      padding: 5px;
      border:1px solid #c7c7c7;
    }
    &:last-child {
      margin-top: 15px;
    }
  }

}

.banquet-description,.halls-description {
  display: flex;
  flex:7 0 0;
  flex-direction: column;
  padding: 0 25px;
  > p {
    margin: 0;
    line-height: 1.3;
  }
}

.halls {
  margin-top:25px;
}

.halls-description {
  a {
    padding: 12px 8px;
    margin-top:40px;
    width: 40%;
    text-align: center;
    border: 1px solid #7c7a7a;
    text-decoration: none;
    color: #7c7a7a;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
      border-color: #005a84;
      background-color: #005a84;
      color: white;
      transition: all 0.3s ease;
    }
  }
}

.banquet-hall-list {
  display: flex;
  flex-direction: column;
  list-style: circle;
  li {
    font-family: $OpenSans;
    font-size: 1.3rem;
    line-height: 1.3;
    //color: #000;
  }
}

.gallery {
  padding:25px 0;
}

.gallery-content {
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-photo {
  display: flex;
  //flex:1 0 0;
  position: relative;
  height: 300px;
  border:1px solid #c7c7c7;
  width: calc(33.333334% - 6px);
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 3px;
  //img {
  //  max-width: 100%;
  //  height: auto;
  //  padding: 3px;
  //}
}

@media screen and (max-width: 600px) {
  .banquet-info,.halls-info {
    flex-direction: column;
  }
  .banquet-info-photo,.halls-info-photo {
    flex: none;
    img {
      max-width:90%;
    }
  }
  .banquet-description,.halls-description {
    margin-top: 25px;
    flex: none;
  }
  .halls-description a {
    width: 75%;
  }
  .gallery-photo {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      max-width: 90%;
    }
  }
}